body {
    font-size: 5vh;
    text-align: center;
}

label {
    margin-left: 3vh;
}

input[type="checkbox"] {
    width: 5vh;
    height: 5vh;
    vertical-align: middle;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
}
