<html>
    <body class="background" id="body">
        <button class="home_icon" onclick='home()' id='home_icon'></button>
        <div class="greeter_holder parallax_still" id="greeter_holder">
            <div class="cross" id="cross">△</div>
            <div class="half_circle" id="half_circle">◑</div>
            <div class="circle" id="circle">○</div>
            <section class="greeter" id='greeter'>
                <p>\( \int_{Yesterday}^{Tomorrow} 💻(x) dx = \) ❄️</p>
                <p class='_tag'>    <a class='tag'>Tech makes life cool.</a></p>
            </section>
        </div>
    </body>
</html>