<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<header class="site-header">
  <!--
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
  -->
</header>

<head>
  <link rel="icon" href="static/HPVS.png">
  <title>Vincent Song: Home</title>
  
  <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="functools.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <button class="home_icon" onclick='home()' id='home_icon'></button>
  <div class='top_tray_left' id='top_tray_left'>
      <a href="" class="tray_element_left">Home</a><br/><br/>
      <a href="about/" class="tray_element_left">About</a><br/><br/>
      <a href="#contact-me" class="tray_element_left">Contact Me</a>
  </div>
  <div class="top_tray_right">
      <a href="#contact-me" class="tray_element">Contact Me</a>
      <a href="about/" class="tray_element">About</a><br/><br/>
  </div>
  <div class="greeter_holder parallax_still" id="greeter_holder">
      <div class="cross" id="cross">△</div>
      <div class="half_circle" id="half_circle">◑</div>
      <div class="circle" id="circle">○</div>
      <section class="greeter" id='greeter'>
          <p>\( \int_{Yesterday}^{Tomorrow} 💻(x) dx = \) <a style="color: cyan;">❄️</a></p>
          <p class='_tag'>    <a class='tag'>Tech makes life cool.</a></p>
      </section>
  </div>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        {%- if page.title -%}
          <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}      
        
        {% if site.paginate %}
          {% assign posts = paginator.posts %}
        {% else %}
          {% assign posts = site.posts %}
        {% endif %}

        {{ content }}
      
        {%- if posts.size > 0 -%}
          {%- if page.list_title -%}
            <h2 class="post-list-heading">{{ page.list_title }}</h2>
          {%- endif -%}
          <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in posts -%}
            <li>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
      
          {% if site.paginate %}
            <div class="pager">
              <ul class="pagination">
              {%- if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
              {%- else %}
                <li><div class="pager-edge">•</div></li>
              {%- endif %}
                <li><div class="current-page">{{ paginator.page }}</div></li>
              {%- if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
              {%- else %}
                <li><div class="pager-edge">•</div></li>
              {%- endif %}
              </ul>
            </div>
          {%- endif %}
      
        {%- endif -%}
      
      </div>
    </div>
  </main>

  {%- include footer.html -%}
  
</body>
</html>
